<!-- Our Footer -->
<section class="footer_one">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_qlink_widget">
                    <h4>Liens utiles</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('about_bdmk') }}">A propos de nous</a></li>
                        <li><a href="{{ path('faq_bdmk') }}">Aide et FAQ</a></li>
                        <li><a href="{{ path('cgu_bdmk') }}">Conditions générales</a></li>
                        <li><a href="{{ path('contact_bdmk') }}">Contactez - nous</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_contact_widget">
                    <h4>Contactez-nous</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope"></i> <a href="mailto:contact@bandama-market.com">contact@bandama-market.com</a></li>
                        <li class="adress-ft"><i class="fa fa-home"></i> Collins Street West, Victoria</li>
                        <li class="adress-ft"><i class="fa fa-home"></i>8007, Australia.</li>
                        <li><a href="tel:+12463450699"><i class="fa fa-phone"></i>+1 246-345-0699</a></li>
                        <li><a href="tel:+12463450699"><i class="fa fa-phone"></i>+1 246-345-0699</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_social_widget">
                    <h4>Retrouvez-nous sur</h4>
                    <ul class="mb30">
                        <li class="list-inline-item"><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="store-app">
                    <h4><i class="fa fa-shopping-cart"></i>  Téléchargez notre application gratuite</h4>
                    <div class="api-store">
                        <a href="#" id="app-store"><img src="{{ asset('front/images/appstore.png') }}" alt="App Store"/></a>
                        <a href="#" id="google-play"><img src="{{ asset('front/images/playstore.png') }}" alt="Google Play"/></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_social_widget">
                    <h4>Newsletter</h4>
                    <p class="info-newsletter">Inscrivez-vous à nos communications pour recevoir nos meilleures offres !</p>
                    <form method="post" id="form-newsletter">
                        <input type="email" placeholder="Entrez votre adresse e-mail" id="input-newsletter" class="input-newsletter" />
                        <button class="btn-send-newsletter"><i class="fa fa-envelope-o"></i></button>
                    </form>
                </div>
                <div id="answer-newsletter" class="answer-newsletter"></div>
            </div>
        </div>
    </div>
</section>
{% include 'Front/Inc/footer_copyright.html.twig' %}


