<div class="home_adv_srch_opt">
    <div class="tab-content home1_adsrchfrm">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            {{ form_start(form) }}
               <div class="row">
                   <div class="col-lg-10 col-md-12 col-sm-12">
                       <div class="row">
                           <div class="col-sm-12 col-md-12 col-lg-4 form-group">
                               {{ form_widget(form.search) }}
                               {{ form_errors(form.search) }}
                           </div>
                           <div class="col-sm-12 col-md-12 col-lg-4 form-group">
                               {{ form_widget(form.category) }}
                               {{ form_errors(form.category) }}
                           </div>
                           <div class="col-sm-12 col-md-12 col-lg-4 form-group">
                               {{ form_widget(form.city) }}
                               {{ form_errors(form.city) }}
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-2 col-md-12 col-sm-12">
                       <div class="row">
                           <div class="col-sm-12 col-md-12 col-lg-12">
                               <button type="submit" id="save" class="btn-search-sbmt">Rechercher</button>
                           </div>
                       </div>
                   </div>
               </div>
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
</div>
