<div class="row">
    <div class="col-lg-12">
        {% for annonce in annonces|filter(annonce => annonce.pack and annonce.pack.title == 'Pack Or')  %}
                <div class="feat_property list golden-ann">
                    <div class="thumb mgm-img">
                        {% if not annonce.filePictures.empty %}
                            <img class="img-whp opc" src="{{ vich_uploader_asset(annonce.filePicture, 'file') }}" alt="{{ annonce.filePicture.fileName }}">
                        {% else %}
                            <img class="img-whp opc" src="{{ asset('front/images/empty.jpg') }}" alt="aucune image">
                        {% endif %}
                        {% if not annonce.filePictures.empty %}
                        <div class="thmb_cntnt">
                            <ul class="icon mb0">
                                <li class="list-inline-item"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.filePictures|length }}</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    <div class="details">
                        <div class="tc_content">
                            <div class="dtls_headr">
                                <ul class="tag">
                                    <li class="list-inline-item gr-bg"><a href="#" class="tx-hdh">Or</a></li>
                                </ul>
                                {% if annonce.price is not null %}
                                    <a class="fp_price" href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.formatPrice }}<small> F cfa</small></a>
                                {% endif %}
                            </div>
                            <p class="text-thm"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.city.title }}</a></p>
                            <h4><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.title }}</a></h4>
                            <p><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.category.title }}</a></p>
                            <a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" class="location-ann">{{ annonce.location }}</a>
                        </div>
                        <div class="fp_footer">
                            <div class="fp_pdate float-left"><a href="#"><i class="fa fa-heart-o"></i></a></div>
                            <div class="fp_pdate float-right">{{ duration(annonce.createdAt) }}</div>
                        </div>
                    </div>
                </div>

        {% endfor %}
        {% for annonce in annonces|filter(annonce => annonce.pack and annonce.pack.title == 'Pack argent')  %}
            <div class="feat_property list">
                <div class="thumb mgm-img">
                    {% if not annonce.filePictures.empty %}
                        <img class="img-whp opc" src="{{ vich_uploader_asset(annonce.filePicture, 'file') }}" alt="{{ annonce.filePicture.fileName }}">
                    {% else %}
                        <img class="img-whp opc" src="{{ asset('front/images/empty.jpg') }}" alt="aucune image">
                    {% endif %}
                    {% if not annonce.filePictures.empty %}
                    <div class="thmb_cntnt">
                        <ul class="icon mb0">
                            <li class="list-inline-item"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.filePictures|length }}</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="details">
                    <div class="tc_content">
                        <div class="dtls_headr">
                            {% if annonce.price is not null %}
                                <a class="fp_price" href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.formatPrice }}<small> F cfa</small></a>
                            {% endif %}
                        </div>
                        <p class="text-thm"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.city.title }}</a></p>
                        <h4><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.title }}</a></h4>
                        <p><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.category.title }}</a></p>
                        <a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" class="location-ann">{{ annonce.location }}</a>
                    </div>
                    <div class="fp_footer">
                        <div class="fp_pdate float-left"><a href="#"><i class="fa fa-heart-o black-heart"></i></a></div>
                        <div class="fp_pdate float-right">{{ duration(annonce.createdAt) }}</div>
                    </div>
                </div>
            </div>

        {% endfor %}
        {% for annonce in annonces %}
            {% if not annonce.pack %}
                <div class="feat_property list">
                    <div class="thumb mgm-img">
                        {% if not annonce.filePictures.empty %}
                            <img class="img-whp opc" src="{{ vich_uploader_asset(annonce.filePicture, 'file') }}" alt="{{ annonce.filePicture.fileName }}">
                        {% else %}
                            <img class="img-whp opc" src="{{ asset('front/images/empty.jpg') }}" alt="aucune image">
                        {% endif %}
                        {% if not annonce.filePictures.empty %}
                        <div class="thmb_cntnt">
                            <ul class="icon mb0">
                                <li class="list-inline-item"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.filePictures|length }}</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    <div class="details">
                        <div class="tc_content">
                            <div class="dtls_headr">
                                {% if annonce.price is not null %}
                                    <a class="fp_price" href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.formatPrice }}<small> F cfa</small></a>
                                {% endif %}
                            </div>
                            <p class="text-thm"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.city.title }}</a></p>
                            <h4><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.title }}</a></h4>
                            <p><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.category.title }}</a></p>
                            <a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" class="location-ann">{{ annonce.location }}</a>
                        </div>
                            <div class="fp_footer">
                                <div class="fp_pdate float-left"><a href="#"><i class="black-heart fa fa-heart-o"></i></a></div>
                                <div class="fp_pdate float-right">{{ duration(annonce.createdAt) }}</div>
                            </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
