{% extends 'Front/layout.html.twig' %}

{% block title 'Recherche annonces' %}
{% block content %}
    <main class="main">
        <section class="annonces-search-liste">
            <div class="container">
                <h1 class="title-home">Souriez ! la vie est belle, des petites annonces rien que pour vous.</h1>
                {% include 'Front/Inc/search_home_inc.html.twig' %}
            </div>
        </section>
        <section class="annonces-liste">
            <div class="container">
                <div class="row sct-result-annonces">
                    <div class="col-md-12 col-lg-8">
                        {% include 'Front/Annonce/_annonces_request_list.html.twig' %}
                    </div>
                    {% set vip_box = '' %}
                    {% for annonce in annonces %}
                        {% if annonce.pack and annonce.pack.title == 'Pack VIP' %}
                            {% set vip_box = 'vip-box' %}
                        {% endif %}
                    {% endfor %}
                    <div class="col-md-12 col-lg-4 {{ vip_box }}">
                        {% for annonce in annonces|filter(annonce => annonce.pack and annonce.pack.title == 'Pack VIP') %}
                            <div class="feat_property home7">
                                    <div class="thumb">
                                        {% if not annonce.filePictures.empty %}
                                            <img class="img-whp opcx" src="{{ vich_uploader_asset(annonce.filePicture, 'file') }}" alt="{{ annonce.filePicture.fileName }}">
                                        {% else %}
                                            <img class="img-whp opcx" src="{{ asset('front/images/empty.jpg') }}" alt="aucune image">
                                        {% endif %}
                                        <div class="thmb_cntnt">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item gr-bg"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" style="font-weight: bold">A la une</a></li>
                                                <li class="list-inline-item or-bg"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" style="font-weight: bold">VIP</a></li>
                                            </ul>
                                            {% if not annonce.filePictures.empty %}
                                            <ul class="icon mb0">
                                                <li class="list-inline-item"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.filePictures|length }}</a></li>
                                            </ul>
                                            {% endif %}
                                            <a class="fp_price" href="#">{{ annonce.formatPrice }}<small> F cfa</small></a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <div class="tc_content">
                                            <p class="text-thm"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.city.title }}</a></p>
                                            <h4><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.title|slice(0, 20) }}</a></h4>
                                            <p><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.category.title }}</a></p>
                                            <a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" class="location-ann">{{ annonce.location }}</a>
                                        </div>
                                        <div class="fp_footer">
                                            <div class="float-left"><a href="#"><i class="black-heart fa fa-heart-o"></i></a></div>
                                            <div class="float-right">{{ duration(annonce.createdAt) }}</div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mt20">
                    <div class="col-lg-12">
                        <div class="mbp_pagination">
                            {{ knp_pagination_render(annonces) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
