{% extends 'Front/layout.html.twig' %}

{% block title 'Recherche annonces' %}
{% block content %}
    <main class="main">
        <section class="annonces-search-liste">
            <div class="container">
                <h1 class="title-home">Souriez ! la vie est belle, des petites annonces rien que pour vous.</h1>
                {% include 'Front/Inc/search_home_inc.html.twig' %}
            </div>
        </section>
        <section class="annonces-liste">
            <div class="container">
                <div class="row sct-result-annonces">
                    <div class="col-md-12 col-lg-8">
                        {% include 'Front/Annonce/_annonces_request_list.html.twig' %}
                    </div>
                    {% for annonce in annonces %}
                        <div class="col-lg-4 col-md-12">
                            <div class="feat_property home7">
                                <div class="thumb">
                                    {% if not annonce.filePictures.empty %}
                                        <img class="img-whp" src="{{ vich_uploader_asset(annonce.filePicture, 'file') }}" alt="{{ annonce.filePicture.fileName }}">
                                    {% else %}
                                        <img class="img-whp" src="{{ asset('front/images/empty.jpg') }}" alt="aucune image">
                                    {% endif %}
                                    <div class="thmb_cntnt">
                                        <ul class="tag mb0">
                                            <li class="list-inline-item"><a href="#">For Rent</a></li>
                                            <li class="list-inline-item"><a href="#">Featured</a></li>
                                        </ul>
                                        <ul class="icon mb0">
                                            <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                            <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                        </ul>
                                        {% if annonce.price is not null %}
                                            <a class="fp_price" href="#">{{ annonce.formatPrice }}<small>/mo</small></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="tc_content">
                                        <p class="text-thm">{{ annonce.city.title }}</p>
                                        <h4>{{ annonce.category.title }}</h4>
                                        <p><span class="flaticon-placeholder"></span>{{ annonce.title|slice(0, 20) }}</p>
                                    </div>
                                    <div class="fp_footer">
                                        <ul class="fp_meta float-left mb0">
                                            <li class="list-inline-item"><a href="#"><img src="{{ asset('front/images/property/pposter1.png') }}" alt="pposter1.png"></a></li>
                                            <li class="list-inline-item"><a href="#">Ali Tufan</a></li>
                                        </ul>
                                        <div class="fp_pdate float-right">4 years ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
