{% extends 'Front/layout.html.twig' %}

{% block title 'Tableau de bord' %}

{% block content %}
    <main class="main-dashboard">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
            <div class="menu-dashboard">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="{{ path('admin_annnonce_add_bdmk') }}" class="box-panel-dash">
                            <div class="icon-panel-dash"><img alt="annonces" src="{{ asset('front/images/dashboard/article.png') }}" /> </div>
                            <h3 class="title-panel-dash">Annonces</h3>
                            <span class="text-panel-dash">Gestion de mes annonces</span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="#" class="box-panel-dash">
                            <div class="icon-panel-dash"><img src="{{ asset('front/images/icon-dsh.png') }}" /> </div>
                            <h3 class="title-panel-dash">Lorem ipsum</h3>
                            <span class="text-panel-dash">loremp ipsum lorem ipsum</span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="#" class="box-panel-dash">
                            <div class="icon-panel-dash"><img src="{{ asset('front/images/icon-dsh.png') }}" /> </div>
                            <h3 class="title-panel-dash">Lorem ipsum</h3>
                            <span class="text-panel-dash">loremp ipsum lorem ipsum</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="#" class="box-panel-dash">
                            <div class="icon-panel-dash"><img src="{{ asset('front/images/icon-dsh.png') }}" /> </div>
                            <h3 class="title-panel-dash">Lorem ipsum</h3>
                            <span class="text-panel-dash">loremp ipsum lorem ipsum</span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="#" class="box-panel-dash">
                            <div class="icon-panel-dash"><img src="{{ asset('front/images/icon-dsh.png') }}" /> </div>
                            <h3 class="title-panel-dash">Lorem ipsum</h3>
                            <span class="text-panel-dash">loremp ipsum lorem ipsum</span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="#" class="box-panel-dash">
                            <div class="icon-panel-dash"><img src="{{ asset('front/images/icon-dsh.png') }}" /> </div>
                            <h3 class="title-panel-dash">Lorem ipsum</h3>
                            <span class="text-panel-dash">loremp ipsum lorem ipsum</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
