{% extends 'Front/layout.html.twig' %}

{% block title 'Tableau de bord' %}

{% block content %}
    <main class="main main-dashboard">
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="text-center alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="header-dashboard"></div>
            <div class="dashboard-content">
                <p class="dsh-sell">Vous avez quelquechose à vendre ?</p>
                <p class="dsh-tdy">Déposer votre annonce gratuitement aujourd'hui sur <span class="orange-title">Bandama</span> <span class="green-title">Market</span></p>
                <div class="box-btn-dsh-ann">
                    <a href="{{ path('admin_annnonce_add_bdmk') }}" class="btn-dsh-ann"><i class="fa fa-plus-circle"></i> Déposer une annonce</a>
                </div>
            </div>
            <div class="menu-dashboard">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="{{ path('admin_annnonce_liste_bdmk') }}" class="box-panel-dash">
                            <div class="icon-panel-dash"><img alt="annonces" src="{{ asset('front/images/dashboard/article.png') }}" /> </div>
                            <h3 class="title-panel-dash">Annonces</h3>
                            <span class="text-panel-dash">Gérer mes annonces</span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="{{ path('edit_profile_admin_bdmk') }}" class="box-panel-dash">
                            <div class="icon-panel-dash"><img alt="paramètres" src="{{ asset('front/images/parametres.png') }}"/> </div>
                            <h3 class="title-panel-dash">Paramètres</h3>
                            <span class="text-panel-dash">Modifier mon profil</span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="{{ path('reset_password_bdmk') }}" class="box-panel-dash">
                            <div class="icon-panel-dash"><img alt="mot de passe" src="{{ asset('front/images/password.png') }}" /> </div>
                            <h3 class="title-panel-dash">Mot de passe</h3>
                            <span class="text-panel-dash">Réinitialiser mon mot de passe</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="{{ path('admin_favoris_liste_bdmk') }}" class="box-panel-dash">
                            <div class="icon-panel-dash"><img alt="Favoris" src="{{ asset('front/images/favoris.png') }}" /> </div>
                            <h3 class="title-panel-dash">Favoris</h3>
                            <span class="text-panel-dash">Mes annonces préférées</span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="#" class="box-panel-dash">
                            <div class="icon-panel-dash"><img alt="messages" src="{{ asset('front/images/messages.png') }}" /> </div>
                            <h3 class="title-panel-dash">Mes messages</h3>
                            <span class="text-panel-dash">Consulter mes messages via le Tchat</span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <a href="#" class="box-panel-dash">
                            <div class="icon-panel-dash"><img alt="transactions" src="{{ asset('front/images/transaction.png') }}" /> </div>
                            <h3 class="title-panel-dash">Transactions</h3>
                            <span class="text-panel-dash">Consulter mes transactions</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
