<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="advanced custom search, agency, agent, business, clean, corporate, directory, google maps, homes, idx agent, listing properties, membership packages, property, real broker, real estate, real estate agent, real estate agency, realtor">
    <meta name="description" content="FindHouse - Real Estate HTML Template">
    <meta name="CreativeLayers" content="ATFN">
    <link rel="stylesheet" href="{{ asset('front/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/app.css') }}">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="{{ asset('front/css/responsive.css') }}">
    <!-- Title -->
    <!-- Title -->
    <title>{% block title %}{% endblock %} | Bandama Market</title>
    <!-- Favicon -->
    <link href="{{ asset('front/images/favicon.ico') }}"  rel="shortcut icon" type="image/x-icon" />
    <link href="{{ asset('front/images/favicon.ico') }}" rel="shortcut icon" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <div class="preloader"></div>
    {% block header %}
        {% include 'Front/Inc/header_inc.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'Front/Inc/footer_inc.html.twig' %}
    {% endblock %}
    <a class="scrollToHome" href="#"><i class="flaticon-arrows"></i></a>
</div>

<script type="text/javascript" src="{{ asset('front/js/jquery-3.3.1.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/jquery-migrate-3.0.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/jquery.mmenu.all.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/ace-responsive-menu.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/isotop.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/snackbar.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/simplebar.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/parallax.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/scrollto.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/jquery-scrolltofixed-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/jquery.counterup.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/wow.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/slider.js') }}"></script>
{#
<script type="text/javascript" src="{{ asset('front/js/pricing-slider.js') }}"></script>
#}
<script type="text/javascript" src="{{ asset('front/js/timepicker.js') }}"></script>
<!-- Custom script for all pages -->
<script type="text/javascript" src="{{ asset('front/js/script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script>
    $(function() {
        const map = $('#map');
        const paths = $('#map .map__image a');
        const links = $('#map .map__list a');

        let activeArea = function (id) {
            $('#map .is-active').each(function(i, v) {
                $(this).removeClass('is-active');
            })
            if (id !== undefined) {
                $('#list-' + id).addClass('is-active');
                $('#region-' + id).addClass('is-active');
            }
        }

        paths.each(function (index, path) {
            path.addEventListener('mouseenter', function (e) {
                let id  = this.id.replace('region-', '');
                activeArea(id);
            });
        });

        links.each(function (index, link) {
            link.addEventListener('mouseenter', function (e) {
                let id  = this.id.replace('list-', '');
                activeArea(id);
            });
        });

        map.on('mouseover', function () {
            activeArea();
        });

        $('[data-toggle="tooltip"]').tooltip();

        $('.mm-navbar__title').text('Navigation');

        $('.select-field').select2();


        /* ==== recovery password === */
        $('form#form-recovery-passwd').on('submit', function (e) {
            e.preventDefault();
            const email = $('#email-recovery').val();
            if (email === '') {
                console.error('saisir email');

                return false;
            }
            $.ajax({
                url: Routing.generate('recovery_password_bdmk'),
                method: 'POST',
                data: {email: email},
                dataType: 'json'
            }).done(function (data) {
                if (data.state === "success") {
                    $('#form-recovery-passwd').hide();
                    $('#recovery-box-password').append('<div class="alert alert-success text-center">'+data.message+'</div>');
                }
            }).fail(function (jqXHR) {
                console.log(jqXHR.responseJSON.message);
                console.error('Erreur email');
            });
        });

        $('.eye-icon-passwd').on('click', function(e) {
            $(this).toggleClass('visible-eye-password');
            if ($(this).hasClass('visible-eye-password')) {
                $('#exampleInputPassword4').attr('type', 'text');
            } else  {
                $('#exampleInputPassword4').attr('type', 'password');

            }
        });

    });
</script>
</body>
</html>
