<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="advanced custom search, agency, agent, business, clean, corporate, directory, google maps, homes, idx agent, listing properties, membership packages, property, real broker, real estate, real estate agent, real estate agency, realtor">
    <meta name="description" content="FindHouse - Real Estate HTML Template">
    <meta name="CreativeLayers" content="ATFN">
    <link rel="stylesheet" href="{{ asset('front/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/app.css') }}">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="{{ asset('front/css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/form-wizard.css') }}">
    <!-- Title -->
    <!-- Title -->
    <title>{% block title %}{% endblock %} | Bandama Market</title>
    <!-- Favicon -->
    <link href="{{ asset('front/images/favicon.ico') }}"  rel="shortcut icon" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/af-2.3.7/b-2.1.1/b-colvis-2.1.1/date-1.1.1/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/1/leaflet.css" />
    <link rel="stylesheet" href="{{ asset('front/css/owlcarousel/owl.carousel.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('front/css/owlcarousel/owl.theme.default.min.css') }}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <div class="preloader"></div>
    {% block header %}
        {% include 'Front/Inc/header_inc.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'Front/Inc/footer_inc.html.twig' %}
    {% endblock %}
    <a class="scrollToHome" href="#"><i class="flaticon-arrows"></i></a>
</div>

<script type="text/javascript" src="{{ asset('front/js/jquery-3.3.1.js') }}"></script>
<script src="{{ asset('front/js/owl.carousel.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/jquery-migrate-3.0.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/jquery.mmenu.all.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/ace-responsive-menu.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/isotop.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/snackbar.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/simplebar.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/parallax.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/scrollto.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/jquery-scrolltofixed-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/jquery.counterup.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/wow.min.js') }}"></script>
{#<script type="text/javascript" src="{{ asset('front/js/slider.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('front/js/pricing-slider.js') }}"></script>#}
<script type="text/javascript" src="{{ asset('front/js/timepicker.js') }}"></script>
<!-- Custom script for all pages -->
<script type="text/javascript" src="{{ asset('front/js/script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ asset('front/js/form-wizard.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0/dist/cdn/places.min.js"></script>
<script src="https://cdn.jsdelivr.net/leaflet/1/leaflet.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/af-2.3.7/b-2.1.1/b-colvis-2.1.1/date-1.1.1/datatables.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('front/js/map.js') }}"></script>
<script src="{{ asset('front/js/newsletter.js') }}"></script>
<script src="{{ asset('front/js/app-bdm.js') }}"></script>
<script src="{{ asset('front/js/recovery-password.js') }}"></script>
<script src="{{ asset('front/js/leaflet-bdm.js') }}"></script>
<script src="{{ asset('front/js/upload-images-bdm.js') }}"></script>
<script src="{{ asset('front/js/filePicture.js') }}"></script>
<script src="{{ asset('front/js/form-event.js') }}"></script>
<script src="{{ asset('front/js/bdm-dataTables.js') }}"></script>
</body>
</html>
