{% extends 'Front/layout.html.twig' %}

{% block title 'Accueil' %}
{% block content %}
    <main class="main">
        <section class="header-home-slider">
            <div class="container">
                <div class="col-md-6">
                    <div class="modern_apertment mt30">
                        <h2 class="title">Découvrez Bandama Market</h2>
                        <h4 class="subtitle">Votre site de petites annonces en Côte d’Ivoire</h4>
                        <p>Faites des bonnes affaires sur Bandama market</p>
                        <a href="{{ path('admin_annnonce_add_bdmk') }}" class="button-slider"><i class="fa fa-plus-circle"></i> Déposer une annonce</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="search-home">
            <div class="container">
                <h1 class="title-home">Souriez ! la vie est belle, des petites annonces rien que pour vous.</h1>
                {% include 'Front/Inc/search_home_inc.html.twig' %}
            </div>
        </section>
        <section class="carousel-bdm">
            <div class="container">
                <h2 class="cta-at-one">Top catégories</h2>
                <div class="owl-carousel at-one">
                    <a class="content-at-one" style="background-image: url('{{ asset('front/carousel/ameublement.jpg') }}');" href="{{ path('annonces_request_bdmk') }}/?category=ameublement">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Ameublement</span>
                    </a>
                    <a class="content-at-one" style="background-image: url('{{ asset('front/carousel/cours.jpg') }}');" href="{{ path('annonces_request_bdmk') }}/?category=cours-particuliers">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Cours particuliers</span>
                    </a>
                    <a class="content-at-one" style="background-image: url('{{ asset('front/carousel/decoration.jpg') }}');" href="{{ path('annonces_request_bdmk') }}/?category=decoration-interieure-exterieure">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Décoration</span>
                    </a>
                    <a class="content-at-one" style="background-image: url('{{ asset('front/carousel/informatique.jpg') }}');" href="{{ path('annonces_request_bdmk') }}/?category=informatique">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Informatique</span>
                    </a>
                    <a class="content-at-one" style="background-image: url('{{ asset('front/carousel/jouets.jpg') }}');" href="{{ path('annonces_request_bdmk') }}/?category=jeux-jouets">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Jeux & Jouets</span>
                    </a>
                    <a class="content-at-one" style="background-image: url('{{ asset('front/carousel/offre.jpg') }}');" href="{{ path('annonces_request_bdmk') }}/?category=offres-d-emploi">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Offres d'emploi</span>
                    </a>
                    <a class="content-at-one" style="background-image: url('{{ asset('front/carousel/vacances.jpg') }}');" href="{{ path('annonces_request_bdmk') }}/?rubrique=vacances-et-famille">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Vacances</span>
                    </a>
                    <a class="content-at-one" style="background-image: url('{{ asset('front/carousel/vente_immo.jpg') }}');" href="{{ path('annonces_request_bdmk') }}/?category=ventes-imobilieres">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Vente immobilière</span>
                    </a>
                    <a class="content-at-one" style="background-image: url('{{ asset('front/carousel/vetement.jpg') }}');" href="{{ path('annonces_request_bdmk') }}/?category=vetements">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Vêtements</span>
                    </a>
                    <a class="content-at-one" style="background-image: url('{{ asset('front/carousel/voiture.jpg') }}');" href="{{ path('annonces_request_bdmk') }}/?category=voitures">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Voitures</span>
                    </a>
                </div>
                <div class="box-btn-gv-ann">
                    <a href="{{ path('admin_annnonce_add_bdmk') }}" class="btn-gv-ann"><i class="fa fa-plus-circle"></i> Déposer une annonce</a>
                </div>
            </div>
        </section>
        <section class="map-tree-bdm">
            <div class="container">
                {% include 'Front/Inc/map_inc.html.twig' %}
            </div>
        </section>
        <section class="drp-cities-bdm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="map__list">
                            <div class="dropdown carte-select">
                                <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    Régions et villes
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for city in cities %}
                                        <a class="dropdown-item" href="{{ path('annonces_request_bdmk') }}/?city={{ city.slug }}">{{ city.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="modern-apertment pt100 pb90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="modern_apertment mt30">
                            <h2 class="title">Rejoignez la communauté</h2>
                            <h4 class="subtitle">543 membres</h4>
                            <p>Des idées, des plaisirs, des passions que vous souhaitez partager ? Faites-nous en part et ensemble participons à la vie de communauté.</p>
                            <a href="#" class="btn-info-home">Découvrir Bandama Market</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% if annonces is not empty %}
        <section id="property-city" class="property-city pb30 bg-ptrn1">
            <div class="container ovh">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="main-title text-center mb40">
                            <h2>Dernières publications</h2>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="feature_property_slider owl-carousel">
                            {% for annonce in annonces %}
                                <div class="item">
                                    <div class="feat_property home7">
                                        <div class="thumb">
                                            {% if not annonce.filePictures.empty %}
                                                <img class="img-whp opcx" src="{{ vich_uploader_asset(annonce.filePicture, 'file') }}" alt="{{ annonce.filePicture.fileName }}">
                                            {% else %}
                                                <img class="img-whp opcx" src="{{ asset('front/images/empty.jpg') }}" alt="aucune image">
                                            {% endif %}
                                            <div class="thmb_cntnt">
                                                {% if annonce.pack %}
                                                <ul class="tag mb0">
                                                    {% if annonce.pack.title == 'Pack VIP' %}
                                                    <li class="list-inline-item gr-bg"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" style="font-weight: bold">A la une</a></li>
                                                    <li class="list-inline-item or-bg"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" style="font-weight: bold">VIP</a></li>
                                                    {% endif %}
                                                    {% if annonce.pack.title == 'Pack Or' %}
                                                    <li class="list-inline-item or-bg"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" style="font-weight: bold">Or</a></li>
                                                    {% endif %}
                                                </ul>
                                                {% endif %}
                                                {% if not annonce.filePictures.empty %}
                                                    <ul class="icon mb0">
                                                        <li class="list-inline-item"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.filePictures|length }}</a></li>
                                                    </ul>
                                                {% endif %}
                                                <a class="fp_price" href="#">{{ annonce.formatPrice }}<small> F cfa</small></a>
                                            </div>
                                        </div>
                                        <div class="details">
                                            <div class="tc_content">
                                                <p class="text-thm"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.city.title }}</a></p>
                                                <h4><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.title|slice(0, 20) }}</a></h4>
                                                <p><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.category.title }}</a></p>
                                                <a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" class="location-ann">{{ annonce.location }}</a>
                                            </div>
                                            <div class="fp_footer">
                                                <div class="float-left"><a href="#"><i class="black-heart fa fa-heart-o"></i></a></div>
                                                <div class="float-right">{{ duration(annonce.createdAt) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
    </main>
    {% include 'Front/Inc/footer_cat_inc.html.twig' %}
{% endblock %}
