{% extends 'Front/layout.html.twig' %}

{% block title 'Accueil' %}
{% block content %}
    <main class="main">
        <section class="search-home">
            <div class="container">
                <h1 class="title-home">Souriez ! la vie est belle, des petites annonces rien que pour vous.</h1>
                {% include 'Front/Inc/search_home_inc.html.twig' %}
                <div class="box-btn-gv-ann">
                    <a href="{{ path('admin_annnonce_add_bdmk') }}" class="btn-gv-ann"><i class="fa fa-plus-circle"></i> Déposer une annonce</a>
                </div>
            </div>
        </section>
        <section class="carousel-bdm">
            <div class="container">
                <h2 class="cta-at-one">A la une</h2>
                <div class="owl-carousel at-one">
                    <div class="content-at-one" style="background-image: url('{{ asset('front/carousel/ameublment.jpg') }}');">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Ameublement</span>
                    </div>
                    <div class="content-at-one" style="background-image: url('{{ asset('front/carousel/cours.jpg') }}');">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Cours particuliers</span>
                    </div>
                    <div class="content-at-one" style="background-image: url('{{ asset('front/carousel/decoration.jpg') }}');">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Décoration</span>
                    </div>
                    <div class="content-at-one" style="background-image: url('{{ asset('front/carousel/informatique.jpg') }}');">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Informatique</span>
                    </div>
                    <div class="content-at-one" style="background-image: url('{{ asset('front/carousel/jouets.jpg') }}');">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Jeux & Jouets</span>
                    </div>
                    <div class="content-at-one" style="background-image: url('{{ asset('front/carousel/offre.jpg') }}');">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Offres d'emploi</span>
                    </div>
                    <div class="content-at-one" style="background-image: url('{{ asset('front/carousel/vacances.jpg') }}');">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Vacances</span>
                    </div>
                    <div class="content-at-one" style="background-image: url('{{ asset('front/carousel/vente_immo.jpg') }}');">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Vente immobilière</span>
                    </div>
                    <div class="content-at-one" style="background-image: url('{{ asset('front/carousel/vetement.jpg') }}');">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Vêtements</span>
                    </div>
                    <div class="content-at-one" style="background-image: url('{{ asset('front/carousel/voiture.jpg') }}');">
                        <div class="overlay-shd"></div>
                        <span class="title-owl-at-one">Voitures</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="map-tree-bdm">
            <div class="container">
                {% include 'Front/Inc/map_inc.html.twig' %}
            </div>
        </section>
        <section class="drp-cities-bdm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="map__list">
                            <div class="dropdown carte-select">
                                <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    Régions et villes
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for city in cities %}
                                        <a class="dropdown-item" href="{{ path('annonces_request_bdmk') }}/?city={{ city.slug }}">{{ city.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="feature-property" class="feature-property">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="main-title text-center">
                            <h2>Find Properties in These Cities</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <div class="properti_city home5">
                            <div class="thumb"><img class="img-fluid w100" src="https://creativelayers.net/themes/findhouse-html/images/property/pc1.jpg" alt="pc1.jpg"></div>
                            <div class="overlay">
                                <div class="details">
                                    <div class="left"><h4>Miami</h4></div>
                                    <p>24 Properties</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                        <div class="properti_city home5">
                            <div class="thumb"><img class="img-fluid w100" src="https://creativelayers.net/themes/findhouse-html/images/property/pc2.jpg" alt="pc2.jpg"></div>
                            <div class="overlay">
                                <div class="details">
                                    <div class="left"><h4>Los Angeles</h4></div>
                                    <p>18 Properties</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                        <div class="properti_city home5">
                            <div class="thumb"><img class="img-fluid w100" src="https://creativelayers.net/themes/findhouse-html/images/property/pc3.jpg" alt="pc3.jpg"></div>
                            <div class="overlay">
                                <div class="details">
                                    <div class="left"><h4>New York</h4></div>
                                    <p>89 Properties</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4">
                        <div class="properti_city home5">
                            <div class="thumb"><img class="img-fluid w100" src="https://creativelayers.net/themes/findhouse-html/images/property/pc4.jpg" alt="pc4.jpg"></div>
                            <div class="overlay">
                                <div class="details">
                                    <div class="left"><h4>Florida</h4></div>
                                    <p>47 Properties</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="property-city" class="property-city pb30 bg-ptrn1">
            <div class="container ovh">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="main-title text-center mb40">
                            <h2>Featured Properties</h2>
                            <p>Handpicked properties by our team.</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="feature_property_slider owl-carousel">
                            <div class="item">
                                <div class="feat_property">
                                    <div class="thumb">
                                        <img class="img-whp" src="https://creativelayers.net/themes/findhouse-html/images/property/fp1.jpg" alt="fp1.jpg">
                                        <div class="thmb_cntnt">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item"><a href="#">For Rent</a></li>
                                                <li class="list-inline-item"><a href="#">Featured</a></li>
                                            </ul>
                                            <ul class="icon mb0">
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                            </ul>
                                            <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <div class="tc_content">
                                            <p class="text-thm">Apartment</p>
                                            <h4>Renovated Apartment</h4>
                                            <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                            <ul class="prop_details mb0">
                                                <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                                                <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                                                <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                                            </ul>
                                        </div>
                                        <div class="fp_footer">
                                            <div class="fp_pdate float-right">4 years ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="feat_property">
                                    <div class="thumb">
                                        <img class="img-whp" src="https://creativelayers.net/themes/findhouse-html/images/property/fp2.jpg" alt="fp2.jpg">
                                        <div class="thmb_cntnt">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item"><a href="#">For Rent</a></li>
                                            </ul>
                                            <ul class="icon mb0">
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                            </ul>
                                            <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <div class="tc_content">
                                            <p class="text-thm">Apartment</p>
                                            <h4>Renovated Apartment</h4>
                                            <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                            <ul class="prop_details mb0">
                                                <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                                                <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                                                <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                                            </ul>
                                        </div>
                                        <div class="fp_footer">
                                            <div class="fp_pdate float-right">4 years ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="feat_property">
                                    <div class="thumb">
                                        <img class="img-whp" src="https://creativelayers.net/themes/findhouse-html/images/property/fp3.jpg" alt="fp3.jpg">
                                        <div class="thmb_cntnt">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item"><a href="#">For Sale</a></li>
                                            </ul>
                                            <ul class="icon mb0">
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                            </ul>
                                            <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <div class="tc_content">
                                            <p class="text-thm">Apartment</p>
                                            <h4>Renovated Apartment</h4>
                                            <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                            <ul class="prop_details mb0">
                                                <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                                                <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                                                <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                                            </ul>
                                        </div>
                                        <div class="fp_footer">
                                            <div class="fp_pdate float-right">4 years ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="feat_property">
                                    <div class="thumb">
                                        <img class="img-whp" src="https://creativelayers.net/themes/findhouse-html/images/property/fp1.jpg" alt="fp1.jpg">
                                        <div class="thmb_cntnt">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item"><a href="#">For Rent</a></li>
                                                <li class="list-inline-item"><a href="#">Featured</a></li>
                                            </ul>
                                            <ul class="icon mb0">
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                            </ul>
                                            <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <div class="tc_content">
                                            <p class="text-thm">Apartment</p>
                                            <h4>Renovated Apartment</h4>
                                            <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                            <ul class="prop_details mb0">
                                                <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                                                <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                                                <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                                            </ul>
                                        </div>
                                        <div class="fp_footer">
                                            <div class="fp_pdate float-right">4 years ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="feat_property">
                                    <div class="thumb">
                                        <img class="img-whp" src="https://creativelayers.net/themes/findhouse-html/images/property/fp2.jpg" alt="fp2.jpg">
                                        <div class="thmb_cntnt">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item"><a href="#">For Rent</a></li>
                                            </ul>
                                            <ul class="icon mb0">
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                            </ul>
                                            <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <div class="tc_content">
                                            <p class="text-thm">Apartment</p>
                                            <h4>Renovated Apartment</h4>
                                            <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                            <ul class="prop_details mb0">
                                                <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                                                <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                                                <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                                            </ul>
                                        </div>
                                        <div class="fp_footer">
                                            <div class="fp_pdate float-right">4 years ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="feat_property">
                                    <div class="thumb">
                                        <img class="img-whp" src="https://creativelayers.net/themes/findhouse-html/images/property/fp3.jpg" alt="fp3.jpg">
                                        <div class="thmb_cntnt">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item"><a href="#">For Sale</a></li>
                                            </ul>
                                            <ul class="icon mb0">
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                            </ul>
                                            <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <div class="tc_content">
                                            <p class="text-thm">Apartment</p>
                                            <h4>Renovated Apartment</h4>
                                            <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                            <ul class="prop_details mb0">
                                                <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                                                <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                                                <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                                            </ul>
                                        </div>
                                        <div class="fp_footer">
                                            <div class="fp_pdate float-right">4 years ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="community-home-bdm">
            <div class="container">
                <div class="box-info-home">
                    <span class="title-info-home">Rejoignez la communauté Bandama </span>
                    <span class="text-info-home">
                    Des idées, des plaisirs, des passions que vous souhaitez partager ? Faites-nous en part et ensemble participons à la vie de communauté.
                </span>
                    <a href="#" class="btn-info-home">Découvrir Bandama Market</a>
                </div>
                <div class="home-content-texte">
                    Bandama market, c'est le site fait par vous et pour vous. Avec des milliers de petites annonces, vous êtes assurés de trouver la bonne affaire dans nos catégories <a href="#" class="link_hct">Multimédia et services informatiques, style et mode, maisons et équipement ...</a>
                    Déposez vos annonces sur le site en toute simplicité ou consultez et achetez vos produits soit en contactant les vendeurs, soit en optant pour le paiement en ligne en toute sécurité via notre plate forme .
                </div>
            </div>
        </section>
    </main>
    {% include 'Front/Inc/footer_cat_inc.html.twig' %}
{% endblock %}
