{% extends 'Front/layout.html.twig' %}

{% block title 'Edition annonce' %}

{% block content %}
    <main class="main main-annonce">
        <h1 class="title-admin">Ajouter une annonce</h1>
        <div class="container">
            {{ form_start(form) }}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title) }}
                            {{ form_errors(form.title) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_label(form.category) }}
                            {{ form_widget(form.category) }}
                            {{ form_errors(form.category) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{ form_label(form.state) }}
                            {{ form_widget(form.state) }}
                            {{ form_errors(form.state) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_label(form.type) }}
                            {{ form_widget(form.type) }}
                            {{ form_errors(form.type) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{ form_label(form.price) }}
                            {{ form_widget(form.price) }}
                            {{ form_errors(form.price) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lieu de l'emplacement</h5>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city) }}
                            {{ form_errors(form.city) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="box-map-address"></div>
                        </div>
                        <div class="col-md-12 form-group">
                            {{ form_label(form.location) }}
                            {{ form_widget(form.location) }}
                            {{ form_errors(form.location) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 form-img-el form-group">
                            {{ form_widget(form.pictureOneFile) }}
                            <label for="{{ form.pictureOneFile.vars.id }}" id="{{ form.pictureOneFile.vars.id ~ '-preview' }}">
                                <img src="https://bit.ly/3ubuq5o" alt="">
                                <div>
                                    <span>+</span>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3 form-img-el form-group">
                            {{ form_widget(form.pictureTwoFile) }}
                            <label for="{{ form.pictureTwoFile.vars.id }}" id="{{ form.pictureTwoFile.vars.id ~ '-preview' }}">
                                <img src="https://bit.ly/3ubuq5o" alt="">
                                <div>
                                    <span>+</span>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3 form-img-el form-group">
                            {{ form_widget(form.pictureThreeFile) }}
                            <label for="{{ form.pictureThreeFile.vars.id }}" id="{{ form.pictureThreeFile.vars.id ~ '-preview' }}">
                                <img src="https://bit.ly/3ubuq5o" alt="">
                                <div>
                                    <span>+</span>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3 form-img-el form-group">
                            {{ form_widget(form.pictureFourFile) }}
                            <label for="{{ form.pictureFourFile.vars.id }}" id="{{ form.pictureFourFile.vars.id ~ '-preview' }}">
                                <img src="https://bit.ly/3ubuq5o" alt="">
                                <div>
                                    <span>+</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-img-el form-group">
                            {{ form_widget(form.pictureFiveFile) }}
                            <label for="{{ form.pictureFiveFile.vars.id }}" id="{{ form.pictureFiveFile.vars.id ~ '-preview' }}">
                                <img src="https://bit.ly/3ubuq5o" alt="">
                                <div>
                                    <span>+</span>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3 form-img-el form-group">
                            {{ form_widget(form.pictureSixFile) }}
                            <label for="{{ form.pictureSixFile.vars.id }}" id="{{ form.pictureSixFile.vars.id ~ '-preview' }}">
                                <img src="https://bit.ly/3ubuq5o" alt="">
                                <div>
                                    <span>+</span>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3 form-img-el form-group">
                            {{ form_widget(form.pictureSevenFile) }}
                            <label for="{{ form.pictureSevenFile.vars.id }}" id="{{ form.pictureSevenFile.vars.id ~ '-preview' }}">
                                <img src="https://bit.ly/3ubuq5o" alt="">
                                <div>
                                    <span>+</span>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3 form-img-el form-group">
                            {{ form_widget(form.pictureHeightFile) }}
                            <label for="{{ form.pictureHeightFile.vars.id }}" id="{{ form.pictureHeightFile.vars.id ~ '-preview' }}">
                                <img src="https://bit.ly/3ubuq5o" alt="">
                                <div>
                                    <span>+</span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_widget(form.save) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
