{% extends 'Front/layout.html.twig' %}

{% block title 'Annonce '~annonce.title %}

{% block content %}
    <!-- Listing Single Property -->
    <section class="listing-title-area">
        <div class="container">
            <div class="row mb30">
                <div class="col-lg-7 col-xl-8">
                    <div class="single_property_title mt30-767">
                        <h2>{{ annonce.title }}</h2>
                        <p>{{ annonce.location }}</p>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4">
                    <div class="single_property_social_share">
                        {% if annonce.price %}
                            <div class="price float-left fn-400">
                                <h2>{{ annonce.formatPrice }} F cfa</h2>
                            </div>
                        {% endif %}
                        <div class="spss style2 mt20 text-right tal-400">
                            <ul class="mb0">
                                <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="flaticon-share"></span></a></li>
                                <li class="list-inline-item"><a href="#"><span class="flaticon-printer"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if not annonce.filePictures.empty %}
                    <div class="col-sm-7 col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="spls_style_two mb30-520">
                                    <a class="popup-img" href="{{ vich_uploader_asset(annonce.filePicture, 'file') }}">
                                        <img class="img-fluid w100" src="{{ vich_uploader_asset(annonce.filePicture, 'file') }}" alt="{{ annonce.filePicture.fileName }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5 col-lg-4">

                        <div class="row">
                            {% for picture in annonce.filePictures %}
                                {% if picture.id is not null %}
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="spls_style_two mb30">
                                            <a class="popup-img" href="{{ vich_uploader_asset(picture, 'file') }}"><img class="img-fluid w100" src="{{ vich_uploader_asset(picture, 'file') }}" alt="{{ picture.fileName }}"></a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                {% else %}
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="spls_style_two mb30-520">
                                    <a class="popup-img" href="{{ asset('front/images/empty.jpg') }}"><img class="img-fluid w100" src="{{ asset('front/images/empty.jpg') }}" alt="aucune image"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Agent Single Grid View -->
    <section class="our-agent-single bgc-f7 pb30-991">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="listing_single_description">
                                <h4 class="mb30">Description</h4>
                                <p class="mb25">{{ annonce.description }}</p>
                                <p class="overlay_close">
                                    <a class="text-thm fz14" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Voir plus <span class="flaticon-download-1 fz12"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="additional_details">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="mb15">Détails</h4>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="list-inline-item">
                                            <li><p>Type :</p></li>
                                            <li><p>Catégorie :</p></li>
                                            <li><p>Ajouté le :</p></li>
                                        </ul>
                                        <ul class="list-inline-item">
                                            <li><p><span>{{ annonce.type }}</span></p></li>
                                            <li><p><span>{{ annonce.category.title }}</span></p></li>
                                            <li><p><span>{{ annonce.createdAt|date('d-m-Y') }}</span></p></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="list-inline-item">
                                            {% if annonce.price %}<li><p>Prix :</p></li>{% endif %}
                                            {% if annonce.state %}<li><p>L'état :</p></li>{% endif %}
                                        </ul>
                                        <ul class="list-inline-item">
                                            {% if annonce.price %}<li><p><span>{{ annonce.formatPrice }}F cfa</span></p></li> {% endif %}
                                            {% if annonce.state %}<li><p><span>{{ annonce.state.title }}</span></p></li> {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="additional_details">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="mb15">Détails suplémentaires</h4>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="list-inline-item">
                                            <li><p>Ville :</p></li>
                                        </ul>
                                        <ul class="list-inline-item">
                                            <li><p><span>{{ annonce.city.title }}</span></p></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="list-inline-item">
                                            {% if annonce.postalCode %}<li><p>Code postal :</p></li>{% endif %}
                                        </ul>
                                        <ul class="list-inline-item">
                                            {% if annonce.postalCode %}<li><p><span>{{ annonce.postalCode }}</span></p></li>{% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="application_statics mt30">
                                <h4 class="mb30">Emplacement <small class="float-right">{{ annonce.location }}</small></h4>
                                <div id="map-show" style="width: 100%; height: 400px" data-lat="{{ annonce.lat }}" data-lng="{{ annonce.lng }}"></div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h4 class="mt30 mb30">Annonces similaires</h4>
                        </div>
                        {% for annonce in annonces %}
                        <div class="col-lg-6">
                            <div class="feat_property home7">
                                <div class="thumb">
                                    {% if not annonce.filePictures.empty %}
                                        <img class="img-whp opcx" src="{{ vich_uploader_asset(annonce.filePicture, 'file') }}" alt="{{ annonce.filePicture.fileName }}">
                                    {% else %}
                                        <img class="img-whp opcx" src="{{ asset('front/images/empty.jpg') }}" alt="aucune image">
                                    {% endif %}
                                    <div class="thmb_cntnt">
                                        {% if annonce.pack %}
                                            <ul class="tag mb0">
                                                {% if annonce.pack.title == 'Pack VIP' %}
                                                    <li class="list-inline-item gr-bg"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" style="font-weight: bold">A la une</a></li>
                                                    <li class="list-inline-item or-bg"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" style="font-weight: bold">VIP</a></li>
                                                {% endif %}
                                                {% if annonce.pack.title == 'Pack Or' %}
                                                    <li class="list-inline-item or-bg"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" style="font-weight: bold">Or</a></li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                        {% if not annonce.filePictures.empty %}
                                            <ul class="icon mb0">
                                                <li class="list-inline-item"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.filePictures|length }}</a></li>
                                            </ul>
                                        {% endif %}
                                        <a class="fp_price" href="#">{{ annonce.formatPrice }}<small> F cfa</small></a>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="tc_content">
                                        <p class="text-thm"><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.city.title }}</a></p>
                                        <h4><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.title|slice(0, 20) }}</a></h4>
                                        <p><a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}">{{ annonce.category.title }}</a></p>
                                        <a href="{{ path('annonce_single_bdmk', {slug: annonce.slug}) }}" class="location-ann">{{ annonce.locationFormat }}</a>
                                    </div>
                                    <div class="fp_footer">
                                        <div class="float-left"><a href="#"><i class="black-heart fa fa-heart-o"></i></a></div>
                                        <div class="float-right">{{ duration(annonce.createdAt) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4">
                    <div class="sidebar_listing_list">
                        <div class="sidebar_advanced_search_widget">
                            <div class="sl_creator">
                                <div class="media">
                                    {% if app.user.avatar %}
                                        {% if app.user.avatar.fileName is null %}
                                            {% set imageUrl = '/front/images/avatar.png' %}
                                        {% else %}
                                            {% set imageUrl = asset('/front/webfiles/' ~ app.user.avatar.fileName) %}
                                        {% endif %}
                                    {% else %}
                                        {% set imageUrl = '/front/images/avatar.png' %}
                                    {% endif %}
                                    <img class="mr-3" style="width: 90px; height: auto" src="{{ imageUrl }}" alt="avatar">
                                    <div class="media-body">
                                        {% if app.user.name or app.user.firstname %}
                                            <h5 class="mt-0 mb0">
                                                {% if app.user.name %}{{ app.user.name }}{% endif %}
                                                {% if app.user.firstname %}{{ app.user.firstname }}{% endif %}
                                            </h5>
                                        {% endif %}
                                        {% if app.user.tel %}
                                            <p class="mb0">{{ app.user.tel }}</p>
                                        {% endif %}
                                        <p class="mb0">{{ app.user.email }}</p>
                                        <a class="text-thm" href="#">Voir profil</a>
                                    </div>
                                </div>
                            </div>
                            {#<ul class="sasw_list mb0">
                                <li class="search_area">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Your Name">
                                    </div>
                                </li>
                                <li class="search_area">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="exampleInputName2" placeholder="Phone">
                                    </div>
                                </li>
                                <li class="search_area">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                                    </div>
                                </li>
                                <li class="search_area">
                                    <div class="form-group">
                                        <textarea id="form_message" name="form_message" class="form-control required" rows="5" required="required" placeholder="I'm interest in [ Listing Single ]"></textarea>
                                    </div>
                                </li>
                                <li>
                                    <div class="search_option_button">
                                        <button type="submit" class="btn btn-block btn-thm">Search</button>
                                    </div>
                                </li>
                            </ul>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
