{% apply inline_css(source('@bemails/account.css'), source('@bemails/foundation-emails.css')) %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Message envoyé !</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    </head>

    <body>
    <!-- <style> -->
    <table class="body" data-made-with-foundation>
        <tr>
            <td class="float-center" align="center" valign="top">
                <center>
                    <table class="container bx-main">
                        <tr>
                            <td>
                                <table class="row">
                                    <tbody>
                                    <tr>
                                        <th class="columns first last">
                                            <table>
                                                <tr>
                                                    <th></th>
                                                    <th class="expander"></th>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="row">
                                    <tbody>
                                    <tr>
                                        <th class="columns first last">
                                            <table>
                                                <tr>
                                                    <th><img class="logo" src="{{ email.image('@emails/logo.png') }}" alt="logo"></th>
                                                    <th class="expander"></th>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="row">
                                    <tbody>
                                    <tr>
                                        <th class="columns first last">
                                            <table>
                                                <tr>
                                                    <th></th>
                                                    <th class="expander"></th>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="row">
                                    <tbody>
                                    <tr>
                                        <th class="columns first last">
                                            <table>
                                                <tr>
                                                    <th class="title">Message envoyé depuis Bandama Market!</th>
                                                    <th class="expander"></th>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="row">
                                    <tbody>
                                    <tr>
                                        <th class="columns first last">
                                            <table>
                                                <tr>
                                                    <th></th>
                                                    <th class="expander"></th>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="row">
                                    <tbody>
                                    <tr>
                                        <th class="columns first last">
                                            <table>
                                                <tr>
                                                    <th class="sentence">
                                                        <p><strong>Nom:</strong> {{ info.name }}</p>
                                                        <p><strong>Adresse mail:</strong> {{ info.email }}</p>
                                                        <p><strong>Sujet:</strong> {{ info.subject }}</p>
                                                        <p><strong>Message:</strong> {{ info.message }}</p>
                                                    </th>
                                                    <th class="expander"></th>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="row">
                                    <tbody>
                                    <tr>
                                        <th class="columns first last">
                                            <table>
                                                <tr>
                                                    <th></th>
                                                    <th class="expander"></th>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="row">
                                    <tbody>
                                    <tr>
                                        <th class="columns first last">
                                            <table>
                                                <tr>
                                                    <th></th>
                                                    <th class="expander"></th>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="row">
                                    <tbody>
                                    <tr>
                                        <th class="columns first last">
                                            <table>
                                                <tr>
                                                    <th class="thkyou">L'équipe bandama Market.</th>
                                                    <th class="expander"></th>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="row">
                                    <tbody>
                                    <tr>
                                        <th class="columns first last">
                                            <table>
                                                <tr>
                                                    <th></th>
                                                    <th class="expander"></th>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="row">
                                    <tbody>
                                    <tr>
                                        <th class="columns first last">
                                            <table>
                                                <tr>
                                                    <th></th>
                                                    <th class="expander"></th>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>
    </body>
    </html>
{% endapply %}
